<div class="row">
    <div class="col-3">
        <app-filter-product [category]="category"></app-filter-product>
    </div>

    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts , let i =index">

                <div class="col-6">

                    <product-card [product]="p" [shopping-cart]="cart"> </product-card>

                </div>
                <div class="w-100" *ngIf="(i +1) % 2 === 0"></div>


            </ng-container>
        </div>
    </div>
</div>